.appBar {
  height: 65px;
}

.brand {
  margin-bottom: 5px;
}

.logo {
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.wordLogo {
  font-family: 'Orbitron', helvetica;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
